@charset "UTF-8";

:root {
    --cor-principal: #003366;
    --cor-secundaria: #ffcc00;
    --cor-fundo: #e6f2ff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--cor-fundo);
    color: #222;
    opacity: 0; /* Começar invisível */
    transition: opacity 1s; /* Suaviza a transição */
}

header {
    background: var(--cor-principal);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

h1 {
    color: #003367;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: var(--cor-secundaria);
}

#hero {
    background: url('imagens/REFRIGERAÇÃO.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: var(--cor-secundaria);
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s, transform 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra do botão */
}

.cta:hover {
    background: #e6b800;
    transform: scale(1.1);
}

main {
    padding: 20px;
}

section {
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra das seções */
    border-radius: 8px; /* Bordas arredondadas */
    background: white; /* Fundo branco para seções */
}

section > h2, p {
    color: #003366;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    flex: 1 1 30%;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.imagem {
    border-radius: 10px;
    border: 2px solid var(--cor-principal); /* Borda na imagem */
}

#contato p {
    font-size: 1.2em;
    font-weight: bold;
}

#contato a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #ff6600;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s, transform 0.3s;
}

#contato a:hover {
    background: #cc5200;
    transform: scale(1.1);
}

footer {
    background: var(--cor-principal);
    color: white;
    text-align: center;
    padding: 20px;
    transition: background 0.3s;
}

footer p {
    color: #e6f2ff;
}

@media (max-width: 768px) {
    header, footer {
        padding: 10px; /* Reduz o padding para telas menores */
    }

    .gallery img {
        width: 90%; /* Imagens maiores em telas pequenas */
    }

    nav ul li {
        display: block; /* Bloco para telas menores */
        margin: 10px;
    }

    #hero {
        padding: 50px 20px; /* Ajusta o padding para telas menores */
    }
}