@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e6f2ff;
    color: #222;
}

header {
    background: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #003367;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

#hero {
    background: url('hero.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: #ffcc00;
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s, transform 0.3s;
}

.cta:hover {
    background: #e6b800;
    transform: scale(1.1);
}

section {
    padding: 50px 20px;
    text-align: center;
}

section > h2, p {
    color: #003366;
}

.gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.imagem {
    border-radius: 10px;
}

#contato p {
    font-size: 1.2em;
    font-weight: bold;
}

#contato a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #ff6600;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s, transform 0.3s;
}

#contato a:hover {
    background: #cc5200;
    transform: scale(1.1);
}

footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #e6f2ff;
}